* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
}

aside {
    background-color: rgb(130, 180, 255);
}

#titlebox {
    display: grid;
    align-items: center;
    align-content: center;
    text-align: center;
}