@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

.noSelect {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -ms-touch-select: none;
    -webkit-user-select: none;
}

body {
    display: grid;
    grid-template-columns: 15% 85%;
}

aside {
    background-color: #2a58ad;
    height: 100vh;
}

#title-box {
    display: grid;
    align-items: center;
    align-content: center;
    text-align: center;

    margin: 20px 0 20px 0;
}

#title-box h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: 200ms ease-in-out;
}

#title-box h1:hover{
    letter-spacing: 4px;
    transition: 200ms ease-in-out;
}

#dashboard-box {
    display: grid;
    align-items: center;
    align-content: center;
    text-align: center;
    grid-template-columns: 20% 80%;

    color: white;
    font-family: 'Roboto', sans-serif;

    row-gap: 10px;
    cursor: pointer;
    margin-left: 5px;
}

#dashboard-box p {
    align-items: left;
    align-content: left;
    text-align: left;
}

section {
    background-color: #e8ebf4;
}

/* CONTENT BOX */

#section {
    height: 100vh;
}

#contentBox {
    margin: 20px 30px 20px 30px;
}

.titleSection {
    font-family: 'Roboto', sans-serif;
    color: #47484d;
    font-weight: 400;
    font-size: 36px;
}

#line1 {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: #fff;
    border-radius: 10px;
}