@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content: center; */

    background: rgb(36,0,22);
    background: linear-gradient(124deg, rgba(36,0,22,1) 0%, rgba(97,9,121,1) 35%, rgba(166,0,255,1) 100%);

    background-size: cover;
    background-repeat: no-repeat;

    height: 97.7vh;
}

#appbox {
    border: black 2px solid;
    border-radius: 20px;
    padding: 30px;

    width: 80%;

    background-color: #fff;
}

#appbox h1, h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: 200ms ease-in-out;
    cursor: default;
    margin: 0 0 25px 0;
}

#appbox h1:hover{
    letter-spacing: 4px;
    transition: 200ms ease-in-out;
}

#appbox h2 {
}

input[type=file] {
    display: none;
}

#appbox #user-info {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    -ms-grid-row-align: left;
}

#fileSelector {
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(36, 52, 145);
    color: white;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}